nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
/* SPOTIFY */

/* Playlist styles */
.hidden
{
  display: none;
}

.visible
{
  display: block;
}

.playlistElement
{
  width: 200px;
  position: relative;
  padding: 0;
}

.playlistElement:hover > .wrapperOfAWrapper
{
  display: block;
}
.playlistElement:hover > .playlistCover
{
  filter: brightness(70%);
}

.playlistCover
{
  width: 100%;
  height: 100%
  margin: 0;
}

.wrapperOfAWrapper
{
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
}

.togglePlayPlaylistWrapper
{
  width: 0;
  height: 0;
  position: relative;
  margin-top: -22px;
  margin-left: -22px;
}

.togglePlayPlaylist
{
  padding: 15px;
  color: white;
  border: 1px solid #878684;
  border-radius : 100%;
  background-color: rgba(0,0,0,0.5);
}
.togglePlayPlaylist:hover
{
  border: 1px solid white;
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}
.togglePlayPlaylist:active
{
  transform: scale(1);
  transition: all .2s ease-in-out;
  color: #adadad;
  border: 1px solid #666966;
}



/* TIMER */
#settingsCog
{
  font-size: 1.2rem;
  color: #636e72;
}
#settingsCog:hover
{
  color: #2d3436;
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}
#settingsCog:active
{
  transform: scale(0.95);
  transition: all .2s ease-in-out;
  color: #b2bec3;
}
.form-control
{
  width: auto;
}


#timer
{
  font-size: 5rem;
}

#editableTimer
{
  width: 12rem;
}
#editableTimer:focus
{
  outline: none;
  border: none;
}
