/* CSS styles for viewports 1000px and less */
@media (max-width: 1000px)
{
  .timerButtons
  {
    margin-right: auto 0;
  }

  #playerDesktop
  {
    display: none;
  }

  #mobilePlayer
  {
    height: 70px;
  }
  #cpCoverWrapperMobile
  {
    padding: 0.1rem;
  }
  #cpCoverMobile
  {
    width: 50px;
    height: 50px;
  }
}

/* CSS styles for viewports 1001px and more */
@media (min-width: 1001px)
{
  .timerButtons
  {
    margin: 1.5rem;
  }

  #mobilePlayer
  {
    display: none;
  }
}

/* CSS styles for viewports 600px and less (timer breaks) */
@media (max-width: 600px)
{
  .timerButtons
  {
    margin-right: 0;
  }
}


.brandContainer a
{
  text-decoration: none;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;

}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

    /* place for fixed player */
    margin-bottom: 10%;

}

main img
{
    /* constrain images on small screens */
     max-width: 100%;
}

body
{
  background-color: #171717;
}

.modal-content
{
  color: #e0e0e0;
  background-color: #171717;
}


#spotifyLogin
{
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  filter: brightness(0.95);
  background: #1DB954;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;
  padding: 0.5rem 2.2rem 0.5rem 2.2rem;
  cursor: pointer;
  letter-spacing: 2px;
}
#spotifyLogin:hover
{
  filter: brightness(1.05);
}


/* SETTINGS */

#settingsCog, #brandIcon
{
  font-size: 1.2rem;
  color: #c2c2c2;
  cursor: pointer;
}
#settingsCog:hover, #brandIcon:hover
{
  filter: brightness(115%);
  transform: scale(1.05);
  transition: all .2s ease-in-out;
  cursor: pointer;
}
#settingsCog:active, #brandIcon:active
{
  filter: brightness(90%);
  transform: scale(0.95);
  transition: all .2s ease-in-out;
  cursor: pointer;
}
.form-control
{
  width: auto;
}

/* TIMER */

.timerButtons
{
  user-select: none;
}
#pauseResumeTimer
{
  width: 80px;
}

#timerDad
{
  width: 200px;
}

#timer
{
  font-size: 5rem;
  color: #eee;
}

#editableTimer
{
  width: 12rem;
}
#editableTimer:focus
{
  outline: none;
  border: none;
}


/* SPOTIFY */

/* Playlist styles */
#playlistContainer
{
  padding-top: 5%;
}

.playlistName
{
  color: #e0e0e0;
  font-weight: bold;
}

.hidden
{
  display: none;
}

.visible
{
  display: block;
}

.playlistElement
{
  width: 200px;
  position: relative;
  padding: 0;
}
.playlistElement:hover > .playlistCover
{
  filter: brightness(40%);
}

.playlistCover
{
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrapperOfAWrapper
{
  position: absolute;
  left: 50%;
  top: 50%;
}

.togglePlayPlaylistWrapper
{
  width: 0;
  height: 0;
  position: relative;
  margin-top: -22px;
  margin-left: -22px;
}

.togglePlayPlaylist
{
  padding: 15px;
  color: white;
  border: 1px solid #878684;
  border-radius : 100%;
  background-color: rgba(0,0,0,0.5);
}
.togglePlayPlaylist:hover
{
  border: 1px solid white;
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}
.togglePlayPlaylist:active
{
  transform: scale(1);
  transition: all .2s ease-in-out;
  color: #adadad;
  border: 1px solid #666966;
}

/* PLAYER */

.playerContainer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2b2b2b;
  color: white;
  text-align: center;
  height: 100px;
}
#cpCoverWrapper
{
  padding: 0.5rem;
}
#cpCover
{
  width: 70px;
  height: 70px;
}
.ellipsis
{
  text-overflow: ellipsis;
}
#cpName
{
  overflow: hidden;
  white-space: nowrap;
  width: 100%
}

#cpArtist
{
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  width: 100%

}

#togglePlayButton
{
  font-size: 0.8rem;
  padding: 8px;
  color: white;
  border: 1px solid #878684;
  border-radius : 100%;
  background-color: rgba(0,0,0,0.5);
}
#togglePlayButton:hover
{
  border: 1px solid white;
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}
#togglePlayButton:active
{
  transform: scale(1);
  transition: all .2s ease-in-out;
  color: #adadad;
  border: 1px solid #666966;
}

.trackControls
{
  user-select: none; /*getting rid of text select pointer between elements*/
}

#previousTrack, #nextTrack
{
  font-size: 0.9rem;
  color: #c2c2c2;
}
#previousTrack:hover, #nextTrack:hover
{
  color: white;
  transform: scale(1.05);
  transition: all .4s ease-in-out;
}
#previousTrack:active, #nextTrack:active
{
  transform: scale(1);
  transition: all .2s ease-in-out;
  color: #c2c2c2;
}

#toggleShuffle, #toggleRepeat, #muteButton
{
  font-size: 0.9rem;
  color: #c2c2c2;
}
#toggleShuffle:hover, #toggleRepeat:hover, #muteButton:hover
{
  filter: brightness(115%);
  transform: scale(1.05);
  transition: all .4s ease-in-out;
}
#toggleShuffle:active, #toggleRepeat:active, #muteButton:active
{
  transform: scale(1);
  transition: all .2s ease-in-out;
  filter: brightness(90%);
}

/* Track position control */
#trackPosition, #trackDuration
{
  font-size: 0.8rem;
  color: #c2c2c2;

}
#trackRange
{
  width: 25rem;
}
.volumeControls
{
  user-select: none; /*getting rid of text select pointer between elements*/
}
/* Volume control */
#volumeRange
{
  width: 10rem;
}


/* The slider itself https://www.w3schools.com/howto/howto_js_rangeslider.asp   */

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 0.4rem;
  border-radius: 5px;
  background: #141414; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.85; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #1DB954; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 0.8rem; /* Set a specific slider handle width */
  height: 0.8rem;
  border-radius: 50%;
  background: #1DB954; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
