{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

  {# SPOTIFY #}
  <div id="playlistContainer">
    {% for item in playlists["items"]: %}
    {# if you add / remove any elements here you may break the javascript for pause/play logic #}

    {% if loop.index0 % 5 == 0 %}
    <div class="row p-0 m-0">
    {% endif %}

      <div class="col p-0 m-0">
        <div class="playlistElement mx-auto">
          <img class="playlistCover" src='{{ item["images"][0]["url"] }}' />
          <div class="wrapperOfAWrapper">
            <div data-playlistURI="{{ item["uri"] }}" class="playlistURI togglePlayPlaylistWrapper">
              <i class="playButton fa-play togglePlayPlaylist hidden"></i>
            </div>
          </div>
        </div>
        <p class="playlistName">{{ item["name"] }}</p>
      </div>

    {% if loop.index0 % 5 == 4 or loop.last %}
    </div>
    {% endif %}

    {% endfor %}
  </div>

  {# PLAYER #}
  <div id="playerDesktop" class="playerContainer">
    <div class="currentlyPlayedSong row my-auto">

        <div class="col-md-1 my-auto">
          <div id="cpCoverWrapper" class="my-auto mx-auto">
            <img id="cpCover" src="https://placekitten.com/300/300"/>
          </div>
        </div>

        <div class="col-md-2 my-auto">
          <div id="cpName" class="text-left">
            miau miau miau!
          </div>
          <div id="cpArtist" class="text-left">
            a cat
          </div>
        </div>

        <div class="col-md-6 my-auto trackControls">
          <div class="row mt-3">
            <div class="col-md-6 mx-auto">
              <i id="toggleShuffle" class="d-inline fas fa-random mr-3"></i>
              <i id="previousTrack" class="d-inline fas fa-step-backward"></i>

              <i id="togglePlayButton" class="mx-3 d-inline fa-play fa"></i>

              <i id="nextTrack" class="d-inline fas fa-step-forward"></i>
              <i id="toggleRepeat" class="fas fa-redo ml-3"></i>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md-12">
              <div id="trackPosition" class="d-inline">0:00</div>
              <input id="trackRange" value="0" type="range" class="slider mx-2 d-inline form-control-range" min="0" max="100">
              <div id="trackDuration" class="d-inline">4:00</div>
            </div>
          </div>
        </div>

        <div class="col-md-3 my-auto volumeControls">
          <i id="muteButton" class="mr-1 d-inline fa fa-volume-up"></i>
          <input id="volumeRange" value="50" type="range" class="slider my-auto d-inline form-control-range" min="0" max="100">
        </div>

    </div>
  </div>

  <div id="mobilePlayer" class="container-fluid playerContainer ">
    <div class="currentlyPlayedSong mt-2 d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-right">
        <img id="cpCoverMobile" src="https://placekitten.com/300/300"/>

        <div class="ml-2">
          <div id="cpNameMobile" class="text-left">
            miau miau miau!
          </div>
          <div id="cpArtistMobile" class="text-left">
            a cat
          </div>
        </div>
      </div>

      <i id="togglePlayButtonMobile" class="mx-3 d-inline fa-play fa"></i>

    </div>
  </div>

  <script>
    var tomatoT = {{ tomatoT }}
    var breakT = {{ breakT }}
    var token = "{{ token }}"
    var refreshToken = "{{ refreshToken }}"
  </script>

  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script src="/static/spoScript.js"></script>

{% endblock %}
